@import "../../style.scss";

.home {
  @include themify($themes) {
    padding: 50px 70px;
    background-color: themed("bgSoft");
    // color:aliceblue;

    @include mobile {
      padding: 10px 25px;
      // margin: auto;
    }

    @include tablet {
      padding: 10px 25px;
      // padding: 20px;
      // padding: 40px;
      // padding: 10px 20px;
    }
  }
}
