@import "../../style.scss";

.navbar {
  @include themify($themes) {
    display: flex;
    height: 50px;
    border-bottom: 1px solid themed("border");
    position: sticky;
    // align-self: flex-start;
    top: 0;
    background-color: themed("bg");
    color: themed("textColor");
    z-index: 999;
    width: 100%;
    padding: 0 30px;
    // width: 100vw;

    overflow-x: hidden;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;

    .left {
      display: flex;
      align-items: center;
      gap: 30px;

      span {
        font-weight: bold;
        font-size: 20px;
        // margin: 40px;
        color: themed("logo");
      }

      .search {
        display: flex;
        align-items: center;
        border: 1px solid themed("border");
        border-radius: 5px;
        padding: 5px;
        // padding: 4px 10px;
        gap: 10px;

        input {
          border: none;
          width: 400px;
          background-color: transparent;
          color: themed("textColor");

          @include mobile {
            display: none;
          }

          @include tablet {
            width: 200px;
          }
        }
      }
    }

    .right {
      display: flex;
      align-items: center;
      gap: 20px;
      // right: -20px;

      @include mobile {
        display: none;
        // width: 100%;
      }

      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 500;
        right: -30px;

        @include tablet {
          display: none;
        }

        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
        }

        span {
        }
      }
    }
  }
}
